@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Noto+Sans+JP&family=Noto+Serif+JP:wght@900&display=swap");

@font-face {
  font-family: "DSEG7-Classic";
  src: url("fonts/DSEG7-Classic/DSEG7Classic-Bold.woff2") format("woff2"),
       url("fonts/DSEG7-Classic/DSEG7Classic-Bold.woff") format("woff"),
       url("fonts/DSEG7-Classic/DSEG7Classic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-family: "Roboto Mono", "Noto Sans JP", monospace;
  font-weight: normal;
  font-size: 20px;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;

  overscroll-behavior-x: auto;
  overscroll-behavior-y: none;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;

  background-color: rgb(200, 200, 200);
}
*, *::before, *::after {
  font-family: inherit;
  font-size: 100%;
  box-sizing: inherit;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;

  overscroll-behavior-x: auto;
  overscroll-behavior-y: none;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}

/* CSS変数定義 */
:root {
  --mobile-length: 560px;
}

body {
  margin: 0;
  & > :not(main),
  & > main > :not(div#result-area),
  & > main > div#result-area > div#result-content {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

.hidden {
  display: none;
}

.area {
  margin: 0.4rem;
}

:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

hr {
  border: none;
  border-top: 1px solid black;
}

ul.button-list {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  & > li {
    display: inline-block;
    list-style: none;
    margin-block-start: -0.3rem;
    vertical-align: middle;
    width: fit-content;
    & > button {
      display: inline-block;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      color: black;
      background-color: rgb(240, 240, 240);
      outline: 1px solid black;
      border: none;
      border-radius: 3px;
      line-height: 1;
      margin: 0px;
      padding: 0.1rem 0.2rem;
      &:focus {
        outline: 2px solid black;
        outline-offset: -1px;
        border: none;
        border-radius: 3px;
      }
    }
  }
  div#button-area > & {
    margin-inline-start: 0.5rem;
  }
  div#info-area > & {
    margin-inline-start: 0.5rem;
  }
}

header {
  font-size: 0.9rem;
  & > h1 {
    font-size: 1.6rem;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
  }
}

div#result-area {
  font-family: "Noto Sans JP", monospace;
  font-size: max(1.3vw, 5px);
  width: 100%;
  padding: 0.65vw;
  background-color: black;
  color: sandybrown;
  & > div#result-content {
    height: 100vh;
    display: grid;
    grid-template: repeat(3, min-content 1fr) / 10.5fr 9fr 9fr;
    grid-gap: 0.65vw 1.95vw;
    & div {
      line-height: 1.0;
      align-self: center;
      justify-self: end;
      &[class*="-text"] {
        font-size: max(1.8vw, 8px);
        margin-block-start: 0.5vw;
        margin-inline-end: 0.78vw;
      }
    }
    & > div.countdown1 {
      grid-row: 2;
      &.title-area {
        grid-row: 1;
      }
    }
    & > div.countdown2 {
      grid-row: 4;
      &.title-area {
        grid-row: 3;
      }
    }
    & > div.live {
      grid-row: 6;
      &.title-area {
        grid-row: 5;
      }
      &.name-area {
        justify-self: center;
        margin-inline-start: 3.9vw;
        & > div {
          justify-self: center;
        }
      }
      &.day-area {
        & > div[class*="-text"] {
          & > span.month-string {
            margin-inline-end: 9.3vw;
          }
        }
      }
    }
    & > div:is(.day-area, .time-area) > div:is(.day, .time) {
      font-family: "DSEG7-Classic";
      font-weight: bold;
    }
    & > div:not(.title-area) {
      align-self: last baseline;
      margin-bottom: calc((100vh - 9.75vw - 15.6vw - 3.9vw - 3.25vw - 1.3vw) / 6);
    }
    & > div.title-area {
      grid-column: 2;
      justify-self: start;
      font-size: 2.8em;
    }
    & > div.name-area {
      grid-column: 1;
      font-size: 3.0em;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      overscroll-behavior-y: auto;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      & > div:is(.name, .name-text) {
        word-break: break-all;
        white-space: pre-wrap;
      }
      & > div.name {
        font-family: "Noto Serif JP", serif;
        font-feature-settings: "palt";
        font-variant-east-asian: proportional-width;
        font-weight: 900;
        transform: scaleY(1.1);
        line-height: 1.2;
      }
      & > div.name-text {
        line-height: 1.35;
      }
    }
    & > div.day-area {
      grid-column: 2;
      justify-self: center;
      font-size: 4.0em;
    }
    & > div.time-area {
      grid-column: 3;
      font-size: 4.0em;
    }
    &:has(div.countdown2.hidden) {
      grid-template: repeat(2, min-content 1fr) / 10.5fr 9fr 9fr;
      & > div.countdown2.hidden {
        display: none;
      }
      & > div.live {
        grid-row: 4;
        &.title-area {
          grid-row: 3;
        }
      }
      & > div:not(.title-area) {
        margin-bottom: calc((100vh - 6.5vw - 10.4vw - 3.9vw - 2.6vw - 1.3vw) / 4);
      }
    }
  }
}

div#edit-area {
  & > h2 {
    font-size: 1.2rem;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
  }
  & > :is(ul, div) {
    border: 1px solid black;
    border-radius: 3px;
    margin: 0.5rem;
    padding: 0.2rem;
    width: auto;
  }
  & > ul {
    word-break: keep-all;
    white-space: nowrap;
    overflow-x: auto;
    overscroll-behavior-x: none;
    overscroll-behavior-y: auto;
    & > li {
      list-style: none;
      line-height: 1.5;
      & label {
        display: inline-block;
        width: 6.3rem;
      }
      & > .label::after {
        display: inline-block;
        content: "=";
        padding-inline: 0.2rem;
      }
      & > input {
        width: 15.0rem;

        appearance: none;
        line-height: 1.4;
        height: 1lh;
        vertical-align: middle;
        color: black;
        background-color: white;
        outline: 1px solid black;
        border: none;
        border-radius: 3px;
        margin-block: 0px;
        margin-inline: -0.2rem 0.2rem;
        padding: 0px;
        padding-block: calc(0.2rem - 1px);
        padding-inline: 0.2rem;
        &[type="datetime-local"] {
          appearance: none;
          -webkit-appearance: none;
          &::-webkit-date-and-time-value {
            text-align: left;
          }
        }
        &:invalid {
          outline: 2px dashed red;
          outline-offset: -1px;
        }
        &:disabled {
          color: rgb(170, 170, 170);
          background-color: rgb(240, 240, 240);
          outline-color: rgb(120, 120, 120);
          opacity: 0.7;
        }
        &:valid:focus {
          outline: -webkit-focus-ring-color auto 1px;
        }
      }
    }
  }
}

div#info-area {
  & > h2 {
    font-size: 1.2rem;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
  }
  /* & > h3 {
    font-size: 1.0rem;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
    margin-inline-start: 0.5rem;
  } */
  & > div {
    border: 1px solid black;
    border-radius: 3px;
    margin: 0.5rem;
    /* margin: 0.4rem;
    margin-inline-start: 1.0rem; */
    padding: 0.2rem;
    width: auto;
    line-height: 1;
    & > a#url-saved-parameter {
      font-size: 0.9rem;
      word-break: break-all;
      white-space: pre-wrap;
    }
  }
}

aside {
  font-size: 0.9rem;
  & > h2 {
    font-size: 1.4rem;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
  }
  & a[target="_blank"]::after {
    content: "↗";
    font-size: 0.7rem;
    margin-inline-start: 0.2rem;
  }
}

footer {
  font-size: 0.9rem;
}

/* モバイル端末用 */
@media (width < var(--mobile-length)) or (height < var(--mobile-length)) {
/* デバッグ用 */
/* @media (orientation: portrait) { */
  html {
    font-size: 18px; /* keshitai */
    overscroll-behavior: none;
  }
  *, *::before, *::after {
    overscroll-behavior: none;
  }
}
@media (orientation: portrait) {
  div#result-area {
    & > div#result-content {
      height: calc(100vw / 1.7);
      & > div:not(.title-area) {
        margin-bottom: calc((100vw / 1.7 - 9.75vw - 15.6vw - 3.9vw - 3.25vw - 1.3vw) / 6);
      }
      &:has(div.countdown2.hidden) {
        & > div:not(.title-area) {
          margin-bottom: calc((100vw / 1.7 - 6.5vw - 10.4vw - 3.9vw - 2.6vw - 1.3vw) / 4);
        }
      }
    }
  }
}
