@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Noto+Sans+JP");
html {
  font-family: "Roboto Mono", "Noto Sans JP", monospace;
  font-weight: normal;
  font-size: 20px;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;

  overscroll-behavior: none;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;

  background-color: rgb(200, 200, 200);
}
*, *::before, *::after {
  font-family: inherit;
  font-size: 100%;
  box-sizing: inherit;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;

  overscroll-behavior: none;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}

/* CSS変数定義 */
:root {
  --board-length: calc(8 * 80px);
  --board-length: 70dvh;
  --svg-length: clamp(40px, var(--board-length) / (8 + 2), 80px);
  --svg-bg-stroke-length: clamp(1.0px, var(--svg-length) * 1.25 / 80, 1.25px);
  --svg-st-stroke-length: clamp(1.25px, var(--svg-length) * 2.5 / 80, 2.5px);
  --mobile-length: 560px;
}

.hidden {
  display: none;
}

.area {
  margin: 0.2rem;
}

:focus {
  /* outline: 1px auto -webkit-focus-ring-color; */
  outline: 2px solid black;
  outline-offset: -1px;
  border: none;
  border-radius: 3px;
}

hr {
  border: none;
  border-block-start: 1px solid black;
  margin-block: 0.5rem;
}

header {
  font-size: 0.9rem;
  & > h1 {
    font-size: 1.6rem;
    margin-block: 0.2rem 0.2rem;
  }
}

svg {
  font-size: var(--svg-length);
  width: var(--svg-length);
  height: var(--svg-length);
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  & > rect.background {
    width: 100%;
    height: 100%;
    fill: sandybrown;
    stroke: black;
    stroke-width: calc(var(--svg-bg-stroke-length) / 2);
  }
  &:hover {
    & > rect.background {
      fill: gold;
    }
  }

  &.cell {
    &[data-color="none"] > circle.stone {
      fill: none;
    }
    &[data-color="black"] > circle.stone {
      fill: black;
    }
    &[data-color="white"] > circle.stone {
      fill: white;
    }
    &[data-color="red"] > circle.stone {
      fill: red;
    }
    &[data-color="blue"] > circle.stone {
      fill: blue;
    }
    &[data-color="cyan"] > circle.stone {
      fill: cyan;
    }
    &[data-color="magenta"] > circle.stone {
      fill: magenta;
    }
    &[data-color="yellow"] > circle.stone {
      fill: yellow;
    }
    &[data-color="green"] > circle.stone {
      /* fill: green; */
      fill: limegreen;
    }
    &[data-color="sentinel"] > circle.stone {
      fill: sandybrown;
    }
  }

  &.highlight {
    & > rect.highlight-stone {
      width: 90%;
      height: 90%;
      fill: none;
      stroke-width: var(--svg-st-stroke-length);
    }
    &[data-color="none"] {
      & > rect.highlight-stone {
        stroke: none;
      }
      & > circle.stone {
        fill: none;
      }
    }
    &[data-color="black"] {
      & > rect.highlight-stone {
        stroke: black;
      }
      & > circle.stone {
        fill: black;
      }
    }
    &[data-color="white"] {
      & > rect.highlight-stone {
        stroke: white;
      }
      & > circle.stone {
        fill: white;
      }
    }
    &[data-color="red"] {
      & > rect.highlight-stone {
        stroke: red;
      }
      & > circle.stone {
        fill: red;
      }
    }
    &[data-color="blue"] {
      & > rect.highlight-stone {
        stroke: blue;
      }
      & > circle.stone {
        fill: blue;
      }
    }
    &[data-color="cyan"] {
      & > rect.highlight-stone {
        stroke: cyan;
      }
      & > circle.stone {
        fill: cyan;
      }
    }
    &[data-color="magenta"] {
      & > rect.highlight-stone {
        stroke: magenta;
      }
      & > circle.stone {
        fill: magenta;
      }
    }
    &[data-color="yellow"] {
      & > rect.highlight-stone {
        stroke: yellow;
      }
      & > circle.stone {
        fill: yellow;
      }
    }
    &[data-color="green"] {
      & > rect.highlight-stone {
        /* stroke: green; */
        stroke: limegreen;
      }
      & > circle.stone {
        /* fill: green; */
        fill: limegreen;
      }
    }
    &[data-color="sentinel"] {
      & > rect.highlight-stone {
        stroke: sandybrown;
      }
      & > circle.stone {
        fill: sandybrown;
      }
    }
  }

  &.assist {
    & > circle.assist-stone {
      fill: none;
      stroke-width: var(--svg-st-stroke-length);
      stroke-dasharray: calc(var(--svg-st-stroke-length) * 2), calc(var(--svg-st-stroke-length) * 2);
    }
    &[data-color="none"] > circle.assist-stone {
      stroke: none;
    }
    &[data-color="black"] > circle.assist-stone {
      stroke: black;
    }
    &[data-color="white"] > circle.assist-stone {
      stroke: white;
    }
    &[data-color="red"] > circle.assist-stone {
      stroke: red;
    }
    &[data-color="blue"] > circle.assist-stone {
      stroke: blue;
    }
    &[data-color="cyan"] > circle.assist-stone {
      stroke: cyan;
    }
    &[data-color="magenta"] > circle.assist-stone {
      stroke: magenta;
    }
    &[data-color="yellow"] > circle.assist-stone {
      stroke: yellow;
    }
    &[data-color="green"] > circle.assist-stone {
      /* stroke: green; */
      stroke: limegreen;
    }
    &[data-color="sentinel"] > circle.assist-stone {
      stroke: sandybrown;
    }
  }

  &.hint {
    & > circle.hint-stone {
      fill: none;
      stroke-width: var(--svg-st-stroke-length);
    }
    &[data-color="none"] {
      & > circle.hint-stone {
        stroke: none;
      }
      & > circle.stone {
        fill: none;
      }
    }
    &[data-color="black"] {
      & > circle.hint-stone {
        stroke: black;
      }
      & > circle.stone {
        fill: black;
      }
    }
    &[data-color="white"] {
      & > circle.hint-stone {
        stroke: white;
      }
      & > circle.stone {
        fill: white;
      }
    }
    &[data-color="red"] {
      & > circle.hint-stone {
        stroke: red;
      }
      & > circle.stone {
        fill: red;
      }
    }
    &[data-color="blue"] {
      & > circle.hint-stone {
        stroke: blue;
      }
      & > circle.stone {
        fill: blue;
      }
    }
    &[data-color="cyan"] {
      & > circle.hint-stone {
        stroke: cyan;
      }
      & > circle.stone {
        fill: cyan;
      }
    }
    &[data-color="magenta"] {
      & > circle.hint-stone {
        stroke: magenta;
      }
      & > circle.stone {
        fill: magenta;
      }
    }
    &[data-color="yellow"] {
      & > circle.hint-stone {
        stroke: yellow;
      }
      & > circle.stone {
        fill: yellow;
      }
    }
    &[data-color="green"] {
      & > circle.hint-stone {
        /* stroke: green; */
        stroke: limegreen;
      }
      & > circle.stone {
        /* fill: green; */
        fill: limegreen;
      }
    }
    &[data-color="sentinel"] {
      & > circle.hint-stone {
        stroke: sandybrown;
      }
      & > circle.stone {
        fill: sandybrown;
      }
    }
  }
}

span.color-text {
  font-weight: bold;
  text-transform: uppercase;
  &[data-color="none"] {
    color: rgb(200, 200, 200);
  }
  &[data-color="black"] {
    color: black;
  }
  &[data-color="white"] {
    color: white;
  }
  &[data-color="red"] {
    color: red;
  }
  &[data-color="blue"] {
    color: blue;
  }
  &[data-color="cyan"] {
    color: cyan;
  }
  &[data-color="magenta"] {
    color: magenta;
  }
  &[data-color="yellow"] {
    color: yellow;
  }
  &[data-color="green"] {
    /* color: green; */
    color: limegreen;
  }
  &[data-color="sentinel"] {
    color: sandybrown;
  }
}

details#parameter-area {
  & > summary.label {
    width: fit-content;
    cursor: pointer;
    &::after {
      content: ":";
    }
  }
  & > ul.details-content {
    border: 1px solid black;
    border-radius: 3px;
    font-size: 0.9rem;
    margin: 0px;
    padding: 0.2rem;
    width: auto;

    display: block;
    word-break: keep-all;
    white-space: nowrap;
    overflow-x: auto;
    & ul#AI_LIST {
      display: inline-block;
      margin: 0px;
      margin-inline-end: 0.2rem;
      width: fit-content;
      &.disabled {
        & label.label {
          opacity: 0.7;
        }
        & input[type="checkbox"] {
          opacity: 1;
        }
      }
      & li {
        margin-block-start: -0.2rem;
        vertical-align: middle;
        &.shown {
          display: inline-block;
        }
        & label.label {
          display: inline;
        }
        & .label::after {
          padding-inline: 0.4rem 0.0rem;
        }
        & span:is([data-color="white"], [data-color="yellow"]) {
          text-shadow: 0px 0px 2px black;
        }
        & input[type="checkbox"] {
          line-height: 1;
        }
      }
    }
    & select {
      margin-inline-start: -0.45px;
      padding-block: 0.0rem 0.2rem;
      height: 1.1lh;
      outline: none;
      border: 1px solid black;
      &:disabled {
        border-color: rgb(120, 120, 120);
      }
    }
    & li {
      list-style: none;
      line-height: 1.4;
      width: fit-content;
      &.shown {
        display: list-item;
      }
      & label {
        display: inline-block;
        vertical-align: middle;
        width: 3.9rem;
      }
      & .label::after {
        display: inline-block;
        content: "=";
        padding-inline: 0.2rem 0.0rem;
      }
    }
    & input {
      border: none;
      &:is([type="number"], [type="text"]) {
        width: 1.1rem;
        &:invalid {
          outline: 2px dashed red;
          outline-offset: -1px;
        }
      }
      &[type="number"]::-webkit-inner-spin-button,
      &[type="number"]::-webkit-outer-spin-button {
        appearance: none;
      }
      &[type="checkbox"] {
        margin: 0px;
        margin-inline-start: -1px;
        width: 1lh;
        height: 1lh;
        &:focus {
          outline: 1px auto black;
        }
      }
    }
    & .label:has(+ :is(.disabled, :disabled)) {
      cursor: default;
      & > label {
        cursor: default;
      }
    }
    & label,
    & .label,
    & input[type="checkbox"],
    & select {
      cursor: pointer;
    }
    & :is(input:is([type="number"], [type="text"]), select):valid:focus {
      outline: 2px solid black;
      outline-offset: -1px;
      border: none;
      border-radius: 3px;
    }
    & > li > input[type="checkbox"] {
      line-height: 1.3;
    }
    & ul#AI_LIST,
    & input,
    & select {
      display: inline-block;
      line-height: 1.15;
      height: 1lh;
      vertical-align: middle;
      color: black;
      background-color: white;
      opacity: 1;
    }
    & ul#AI_LIST,
    & input:is([type="number"], [type="text"]),
    & select {
      text-align: left;
      outline: 1px solid black;
      border: none;
      border-radius: 3px;
    }
    & ul#AI_LIST.disabled,
    & input:disabled,
    & select:disabled {
      cursor: default;
      color: rgb(170, 170, 170);
      background-color: rgba(240, 240, 240, 0.3);
      outline-color: rgb(120, 120, 120);
      opacity: 0.7;
    }
    & ul#AI_LIST,
    & input:is([type="number"], [type="text"]) {
      padding: 0.1rem 0.1rem;
    }
  }
}

ul.button-list {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  & > li {
    display: inline-block;
    list-style: none;
    margin-block-start: -0.3rem;
    vertical-align: middle;
    width: fit-content;
    & > button {
      display: inline-block;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      color: black;
      background-color: rgb(240, 240, 240);
      outline: 1px solid black;
      border: none;
      border-radius: 3px;
      line-height: 1;
      margin: 0px;
      padding: 0.1rem 0.2rem;
      &:focus {
        outline: 2px solid black;
        outline-offset: -1px;
        border: none;
        border-radius: 3px;
      }
      &:disabled {
        color: rgb(170, 170, 170);
        background-color: rgba(240, 240, 240, 0.3);
        outline-color: rgb(120, 120, 120);
        opacity: 0.7;
      }
    }
  }
  details#parameter-area > & {
    margin-block-start: 0.5rem;
  }
  div#button-area > & {
    margin-block-start: 0.2rem;
  }
}

div#board-area {
  font-size: 0px;
  max-width: 100%;
  max-height: calc(100dvh - 0.2rem - 0.2rem - 1.5rem - 0.2rem  - 0.5rem - 0.2rem - 1.3rem - 1.3rem - 0.2rem);
  overflow: auto;
  &:focus {
    outline-offset: 0px;
  }
  & > table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0px;
    margin: 0px auto;
    & :is(tr, td, th) {
      margin: 0px;
      padding: 0px;
    }
    & th {
      position: sticky;
      top: 0px;
      left: 0px;
      font-size: calc(var(--svg-length) / 3.5);
      text-align: center;
      background-color: rgb(200, 200, 200);
    }
    & > thead {
      & th {
        z-index: 2;
        width: calc(var(--svg-length));
        height: calc(var(--svg-length) / 2);
      }
      & th:first-of-type {
        z-index: 3;
        width: calc(var(--svg-length) / 2);
        height: calc(var(--svg-length) / 2);
      }
    }
    & > tbody {
      & th {
        z-index: 2;
        width: calc(var(--svg-length) / 2);
        height: calc(var(--svg-length));
      }
      & tr:first-of-type td {
        border-block-start: calc(var(--svg-bg-stroke-length) * 2) solid black;
      }
      & tr:last-of-type td {
        border-block-end: calc(var(--svg-bg-stroke-length) * 2) solid black;
      }
      & tr td:first-of-type {
        border-inline-start: calc(var(--svg-bg-stroke-length) * 2) solid black;
      }
      & tr td:last-of-type {
        border-inline-end: calc(var(--svg-bg-stroke-length) * 2) solid black;
      }
    }
  }
}

div#info-area {
  & > div {
    &.shown {
      display: block;
    }
    &.hidden {
      display: none;
    }

    &#turn,
    &#message,
    &#result {
      white-space: pre-wrap;
    }

    &#turn::before {
      content: "turn: ";
    }
    &#message::before {
      content: "message: ";
    }
    &#result::before {
      content: "result: ";
    }

    &#wait {
      & > progress#progress {
        appearance: none;
        -webkit-appearance: none;
        background-color: rgb(200, 200, 200);
        width: calc(90vw - 10rem - 2rem);
        height: 10px;
        border-radius: 5px;
      }
      ::-webkit-progress-bar {
        background-color: rgb(200, 200, 200);
        width: calc(90vw - 10rem - 2rem);
        height: 10px;
        border-radius: 5px;
      }
      ::-webkit-progress-value {
        background-color: sandybrown;
        max-width: calc(90vw - 10rem - 2rem);
        height: 10px;
        border-radius: 5px;
      }
    }
  }

  & details#log-area {
    & > summary {
      width: fit-content;
      cursor: pointer;
      &::after {
        content: ":";
      }
    }
    & > div#log.details-content {
      display: block;
      resize: vertical;
      overflow-y: auto;
      margin: 0px;
      padding: 4px;
      font-size: 0.9em;
      width: auto;
      height: 6lh;
      border: 1px solid black;
      border-radius: 3px;
      white-space: pre-wrap;
      word-break: break-all;
    }
  }
}

aside {
  font-size: 0.9rem;
  & > h2 {
    font-size: 1.4rem;
    margin-block: 0.2rem 0.2rem;
  }
}

footer {
  font-size: 0.9rem;
}

/* モバイル端末用 */
@media (width < var(--mobile-length)) or (height < var(--mobile-length)) {
/* デバッグ用 */
/* @media (orientation: portrait) { */
  html {
    font-size: 18px;
  }
  details#parameter-area {
    & > ul.details-content {
      & ul#AI_LIST {
        & li {
          & span:is([data-color="white"], [data-color="yellow"]) {
            text-shadow: 0px 0px 0.2px gray;
          }
        }
      }
      & select {
        padding-block: 0.0rem 0.2rem;
        height: 1.4lh;
      }
    }
  }
}
@media (orientation: portrait) {
  :root {
    --board-length: 99vw;
  }
}
